/* target h1 headers */


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.jumbotron {
  background-color: #29A745;

}

.btn-primary {
    background-color: #29A745 !important;
    border-color: #29A745 !important;
}

h1, .h1{
    color: #fff;
    font-size: 4rem !important;
}